name: Build Extension

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  linux:
    name: Linux Build
    runs-on: ubuntu-latest
    container: ubuntu:22.04
    env:
      GEN: ninja

    steps:
      - name: Install required ubuntu packages
        run: |
          apt-get update -y -qq
          apt-get install -y -qq software-properties-common
          add-apt-repository ppa:git-core/ppa
          apt-get update -y -qq
          apt-get install -y -qq ninja-build make gcc-multilib g++-multilib libssl-dev readline-common libreadline-dev libffi-dev zlib1g-dev libsqlite3-dev pkg-config libxml2-dev libxslt-dev libxml2-utils python3-dev python3-pip python3-cffi python3-pytest python3-pytest-xdist unzip git

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Checkout DuckDB to version
        run: |
          cd duckdb
          git checkout v1.1.3

      - name: Build extension
        run: |
          make

      - name: Test extension
        run: |
          make test

  macos:
    name: MacOS Build
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Checkout DuckDB to version
        run: |
          cd duckdb
          git checkout v1.1.3

      - name: Build extension
        run: |
          make

      - name: Test extension
        run: |
          make test

  windows:
    name: Windows Build
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Checkout DuckDB to version
        run: |
          cd duckdb
          git checkout v1.1.3

      - name: Build extension
        run: |
          make

      - name: Test extension
        run: |
          make test
